@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&display=swap");

:root {
  --search-button-width: 66px;
  --search-height: 45px;
  --search-top-space: 8px;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.bg-primary-color {
  @apply bg-gradient-to-br from-green-400 to-[#c6dad0];
}

.green-primary-color {
  @apply bg-gradient-to-b from-white to-[#008000] bg-clip-text font-bold text-transparent;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: #000;
  text-decoration: none;
}

hr{
  max-width: 100%;
  width: 90%;
  border: 1px solid #000;
  color: red;
}



.search {
  width: 360px;
  height: 45px;
  background-color: #1618230f;
  border-radius: 24px;
  padding-left: 16px;
  display: flex;
  position: relative;
  border: 1.5px solid transparent;
}

.search:focus-within {
  border-color: #16182333;
}

.search::after {
  content: "";
  display: block;
  position: absolute;
  right: var(--search-button-width);
  background-color: rgba(22, 24, 35, 0.12);
  width: 0.83px;
  height: calc(var(--search-height) - 18px);
  top: var(--search-top-space);
}

.search input:not(:placeholder-shown) ~ .search-btn {
  color: #60616a;
}

.loading {
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
      transform: translateY(-50%) rotate(0);
  }

  to {
      transform: translateY(-50%) rotate(360deg);
  }
}