.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min(-156px + 100vh, 760px);
    min-height: 100px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    background: rgb(255, 255, 255);
    padding-top: 8px;
}
