.card {
    animation: appear linear;
    animation-timeline: view();
}

@keyframes appear {
    from {
        transform: scale(0);
        opacity: 0.5;
      }
      to {
        transform: scale(1);
        opacity: 1;
      }
}